<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
 <h1>patientPlus</h1>  
 <p><span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias officiis numquam rerum in maxime quos cupiditate, adipisci nostrum sit expedita inventore incidunt possimus ipsam beatae explicabo facilis, accusamus nemo similique.
 Odit numquam exercitationem provident error, beatae obcaecati debitis facere doloremque enim officia, velit unde. Tempore omnis, quia error officiis cumque, suscipit est quisquam hic saepe autem impedit quis eius illo.</span></p> 
 <p><span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi ea molestiae maiores obcaecati, unde impedit corrupti in ratione quos illo eos atque porro doloribus architecto nesciunt nulla tempore. Omnis, porro!
 Iure ipsam odio illum quae porro obcaecati culpa unde at voluptatum nam? Dolorem molestiae fuga reprehenderit consectetur explicabo quam nihil! Corporis eum id ratione iure dolores laborum iste placeat ut!
 Error, ratione laboriosam. Soluta temporibus voluptas iusto labore asperiores enim laudantium fugit in provident suscipit ratione omnis recusandae culpa voluptate illo, perspiciatis doloremque, illum dolor molestias quo nam consequatur! Fugit.</span></p>
</body>
</html>